h1 {
  font-weight: 600;
  letter-spacing: -5px;
  color: rgb(230, 230, 230);
}

p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(230, 230, 230);
}

.emphase {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

button {
  background: transparent;
  border: 3px solid white;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
}

button:hover {
  box-shadow: 0 0 15px white;
}
