/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  align-items: center;
  text-align: center;
  color: white;
}

.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
